.hero-image {
  background-color: #2e2f42;
  width: 600px;
}
h1 {
  color: white;
}
.blue-button {
  background-color: #4d5ae5;
  color: white;
}
.blue-button:focus {
  color: red;
}
.blue-button:hover {
  color: red;
}

.fokus:hover {
  color: red;
}
.fokus:focus {
  color: black;
}
